@page "/purchaseorder"


<SupplierPopup IsVisible="isVisibleSupplierPopup" CloseCallBack="CloseSupplierPopup" SupplierCallBack="GetSupplierFromPopup" />
<ProductPopup IsVisible="isVisibleProductPopup" CloseCallBack="CloseProductPopup" ProductCallBack="GetProductFromPopup" />

<EditForm Model="@purchaseOrderModel" class="card-header"
          OnValidSubmit="async ()=>
                {
                    if(purchaseOrderModel.Id == Guid.Empty){
                        await AddPurchaseOrder();
                }
                    else{
                        await EditPurchaseOrder();
                } }">
    <DataAnnotationsValidator />
       <div class="d-flex flex-row justify-content-between">
        <div class="d-flex justify-content-around align-items-center">
            <button type="submit" id="button-submit" class="btn btn-light btn-order-add">
                <img src="img/add.png" alt="add" class="variant-add-img" />
            </button>
            <button type="button" id="button-close" class="btn btn-light btn-cancel-add" @onclick="CancelOrder">
                <img src="img/cancel.png" alt="cancel" class="variant-cancel-img" />
            </button>
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="date" class="form-label">Date</label>
            <DateInput TValue="DateOnly?" @bind-Value="purchaseOrderModel.Date" id="date" class="form-control text-center" />
        </div>
        <div class="mb-2 col-2 text-center">
            <label for="supplierid" class="form-label">Supplier ID</label>
            <div class="d-flex justify-content-between">
                <button type="button" id="button-submit" class="btn btn-light btn-select mx-2 text-center" @onclick="OpenSupplierPopup">
                    <img src="img/select.png" alt="select" class="select-img" />
                </button>
                <InputText @bind-Value="purchaseOrderModel.SupplierId" id="supplierid" class="form-control text-center" disabled />
            </div>
        </div>
        <div class="mb-2 col-2 text-center">
            <label for="productid" class="form-label">Product ID</label>
            <div class="d-flex justify-content-between">
                <button type="button" id="button-submit" class="btn btn-light btn-select mx-2" @onclick="OpenProductPopup">
                    <img src="img/select.png" alt="select" class="select-img" />
                </button>
                <InputText @bind-Value="purchaseOrderModel.ProductId" id="productid" class="form-control text-center" disabled />
            </div>
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="productname" class="form-label">Product Name</label>
            <InputText @bind-Value="purchaseOrderModel.ProductName" id="productname" class="form-control text-center" disabled />
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="variantid" class="form-label">Variant ID</label>
            <InputSelect @bind-Value="purchaseOrderModel.VariantId" class="form-control text-center" id="variantid">
                <option value="@purchaseOrderModel.VariantId" class="text-center">-</option>
                @if (product.Variants.Count != 0)
                {
                    @foreach (var item in product.Variants)
                    {
                        if (item.VariantId == purchaseOrderModel.VariantId)
                        {
                            <option selected value="@item.VariantId" class="text-center">@item.VariantId</option>
                        }
                        else
                        {
                            <option value="@item.VariantId" class="text-center">@item.VariantId</option>
                        }
                    }
                }
            </InputSelect>
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="quantity" class="form-label">Quantity</label>
            <InputNumber @bind-Value="purchaseOrderModel.Quantity" id="quantity" class="form-control text-center" />
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="duedate" class="form-label">Due Date</label>
            <DateInput TValue="DateOnly?" @bind-Value="purchaseOrderModel.DueDate" id="variantid" class="form-control text-center" />
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="productrate" class="form-label">Rate</label>
            <InputNumber @bind-Value="purchaseOrderModel.ProductRate" id="productrate" class="form-control text-center" />
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="orderstatus" class="form-label text-center">Order Status</label>
            <InputSelect @bind-Value="purchaseOrderModel.OrderStatus" class="form-control text-center" id="orderstatus">
                <option value="@OrderStatus.None" class="text-center">None</option>
                <option value="@OrderStatus.Open" class="text-center">Open</option>
                <option value="@OrderStatus.Completed" class="text-center">Completed</option>
                <option value="@OrderStatus.Partly" class="text-center">Partly</option>
            </InputSelect>
        </div>
       
    </div>
    <div class="mb-2 col-12 text-center">
        <label for="remarks" class="form-label">Remarks</label>
        <InputText @bind-Value="purchaseOrderModel.Remarks" id="remarks" class="form-control" />
    </div>
    <ValidationSummary />
</EditForm>

<div class="d-flex justify-content-lg-between mt-5">
    <button type="button" class="btn btn-outline-danger col-2" @onclick="DeleteSelectedOrders">Delete Selected Orders</button>
    <button type="button" class="btn btn-outline-danger col-2" @onclick="DeleteCompletedOrders">Delete Completed Orders</button>
    <div class="col-7 text-end">
        <Search SearchItemCallBack="SearchItem"></Search>
    </div>
   
</div>
<table class="table table-striped table-bordered mt-2">
    <thead>
        <tr>
            <th class="text-center">
                <button class="btn btn-select" @onclick="SelectAllItems">
                    <InputCheckbox @bind-Value="@isSelected" />
                </button>
            </th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Date"))">Date</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("SupplierId"))">Supplier ID</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("ProductId"))">Product ID</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("ProductName"))">Product Name</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("VariantId"))">Variant ID</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Quantity"))">Quantity</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("DueDate"))">Due Date</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("ProductRate"))">Rate</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("OrderStatus"))">Order Status</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Remarks"))">Remarks</th>
        </tr>
    </thead>
    <tbody>
        @if (ordersAfterSearch.Count != 0)
        {
            @foreach (var order in ordersAfterSearch.AsQueryable())
            {
                <tr>
                    <td class="text-center d-flex justify-content-around">
                        <InputCheckbox @bind-Value="order.IsChecked" />
                        <div>
                            <button class="btn btn-light btn-variant-edit">
                                <img src="img/edit.png" alt="add" class="order-edit-img" @onclick="()=>UpdateOrder(order)" />
                            </button>
                        </div>
                    </td>
                    <td class="text-center">@order.Date</td>
                    <td class="text-center">@order.SupplierId</td>
                    <td class="text-center">@order.ProductId</td>
                    <td class="text-center">@order.ProductName</td>
                    <td class="text-center">@order.VariantId</td>
                    <td class="text-center">@order.Quantity</td>
                    <td class="text-center">@order.DueDate</td>
                    <td class="text-center">@order.ProductRate</td>
                    <td class="text-center">@order.OrderStatus</td>
                    <td class="text-center">@order.Remarks</td>                               
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="12" class="text-center">
                    Not Found!
                </td>
            </tr>
        }
    </tbody>
</table>