@page "/purchases"



<div class="d-flex justify-content-lg-between mb-3">
    <NavLink href="/purchase" class="btn btn-secondary">Add New Purchase</NavLink>
    <Search SearchItemCallBack="SearchItem"></Search>
</div>

@if (purchasesAfterSearch == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center column-item" @onclick="@(()=>SortItem("VoucherId"))">Voucher ID</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("SupplierName"))">Supplier Name</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("Date"))">Date</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("Remarks"))">Remarks</th>
                <th class="text-center column-item"></th>
            </tr>
        </thead>
        <tbody>
            @if (purchasesAfterSearch.Count != 0)
            {
                @foreach (var purchase in purchasesAfterSearch.AsQueryable())
                {
                    <tr>
                        <td class="text-center">@purchase.VoucherId</td>
                        <td class="text-center">@purchase.SupplierName</td>
                        <td class="text-center">@purchase.Date</td>
                        <td class="text-center">@purchase.Remarks</td>
                        <td class="text-center"><a class="btn btn-secondary" href="purchase/@purchase.Id">Info</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">
                        Not Found!
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

