@page "/sale/{saleId?}"
@using Inventory.Shared.Selectors



<EditForm Model="@salesModel" class="card-header mt-1" Context="SalesModelForm"
          OnValidSubmit="async ()=>
                {
                    if(SaleId == null){
                        await AddOrder();
                }
                    else{
                        await EditOrder();
                } }">
    <DataAnnotationsValidator />


    <div class="d-flex justify-content-between">
        
        <div class="col-3 text-center">
            <label class="form-label d-block text-center"><h4>Customer</h4></label>
            <CustomerAutocomplete T="CustomerModel"
                                  SelectedCustomer="customerModel"
                                  SelectedCustomerChanged="OnCustomerSelected" />

            <InputText @bind-Value="salesModel.CustomerId" class="form-control text-center" disabled hidden />
            <InputText @bind-Value="salesModel.CustomerName" class="form-control text-center ms-2" disabled hidden />
        </div>

        <div class="text-center">
            <label for="voucher" class="form-label"><h4>Voucher</h4></label>
            @if (IsDisabled)
            {
                <InputNumber @bind-Value="salesModel.VoucherId" id="voucher" class="form-control text-center" disabled />
            }
            else
            {
                <InputNumber @bind-Value="salesModel.VoucherId" id="voucher" class="form-control text-center" />
            }
        </div>
        <div class="text-center">
            <label for="date" class="form-label"><h4>Date</h4></label>
            <DateInput TValue="DateOnly" @bind-Value="salesModel.Date" id="date" class="form-control text-center" style="width:150px;" />
        </div>
    </div>
    <ValidationSummary />


    <div class="mt-5 d-flex justify-content-center">
        <EditForm Model="@salesVariantModel" Context="SalesVariantModelForm" class="card-header col-6">
            <DataAnnotationsValidator />
            <div class="d-flex flex-row justify-content-between align-items-end">

                <div class="mb-2 col-5 d-flex justify-content-center flex-column">
                    <label for="productid" class="form-label text-center">Product ID</label>
                    <input type="text" @bind-value="salesVariantModel.ProductId" id="productid" class="form-control" required @ref="productInput" autocomplete="off"/>
                </div>
                <div class="mb-2 col-5 d-flex justify-content-center flex-column">
                    <label for="variantid" class="form-label text-center">Variant ID</label>
                    <input type="text" @bind-value="salesVariantModel.VariantId" id="variantid" class="form-control" required @onkeyup="(k) => CheckIfClickEnter(k)" autocomplete="off" />
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
    </div>

        <div class="d-flex justify-content-center">
        <EditForm Model="@salesVariantModel" class="card-header mt-5 col-12" Context="SalesVariantForm"
                  OnValidSubmit="async ()=>
                {
                    if(!salesVariantModel.IsCreated){
                        await AddVariant();
                }
                    else{
                        await EditVariant();
                } }">
            <DataAnnotationsValidator />
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex justify-content-around align-items-center col-1">
                    <button type="submit" id="button-submit" class="btn btn-light btn-order-add">
                        <img src="img/add.png" alt="add" class="order-add-img" />
                    </button>
                    <button type="button" id="button-close" class="btn btn-light btn-cancel-add" @onclick="CancelSalesVariant">
                        <img src="img/cancel.png" alt="cancel" class="purchase-cancel-img" />
                    </button>
                </div>
                <div class="text-center col-4">
                    <label for="productid" class="form-label">Product ID</label>
                    <ProductAutocomplete T="ProductModel" SelectedProduct="selectedProduct" SelectedProductChanged="OnProductSelected"/>
                        <InputText @bind-Value="salesVariantModel.ProductId" id="productid" class="form-control text-center" required hidden />
                        <InputText @bind-Value="salesVariantModel.ProductName" id="productname" class="form-control text-center" required hidden />
                </div>
                <div class="col-2 mb-2 text-center">
                    <label for="variantid" class="form-label">Variant ID</label>
                    @if (productEntity.Variants.Count != 0)
                    {
                        <InputSelect @bind-Value="salesVariantModel.VariantEntityId" class="form-control text-center" id="variantid">
                            <option value="" class="text-center">-</option>
                            @if (productEntity.Variants.Count != 0)
                            {
                                @foreach (var item in productEntity.Variants)
                                {
                                    if (item.Id == salesVariantModel.VariantEntityId)
                                    {
                                        <option selected value="@item.Id" class="text-center">@item.VariantId</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id" class="text-center">@item.VariantId</option>
                                    }
                                }
                            }
                        </InputSelect>
                    }
                    else
                    {
                        <input class="form-control text-center" value="@salesVariantModel.VariantEntityId" disabled />
                    }
                </div>
                <div class="col-2 text-center">
                    <label for="quantity" class="form-label">Quantity</label>
                    <InputNumber @bind-Value="salesVariantModel.Quantity" id="quantity" class="form-control text-center" />
                </div>
            </div>
            <ValidationSummary />
        </EditForm>
            </div>

    <MudPaper Class="position-fixed bottom-0 mb-5 p-1" Style="left:35%!important">
        <div class="my-1">
            @if (SaleId == null)
            {
                <button type="submit" id="button-submit" class="btn btn-success">Summarize</button>
            }
            else
            {
                <button type="submit" id="button-submit" class="btn btn-warning">Summarize</button>
            }
            <NavLink type="button" @onclick="OpenScanMassDialogAsync" id="button-close" class="btn btn-primary ms-2">Scan Mass Products</NavLink>
            <NavLink type="button" href="/sales" id="button-close" class="btn btn-info ms-2">Close</NavLink>
            @if (salesModel != null)
            {
                <button type="button" class="btn btn-danger ms-3" @onclick="ClearProductchoice">Clear Scan Area</button>
            }
            <NavLink class="btn btn-secondary ms-3" href="/">Home</NavLink>
        </div>
    </MudPaper>

    <div class="d-flex justify-content-center">
        <div class="d-flex col-12">
            <table class="table table-striped table-bordered mt-2">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center column-item col-3">Product ID</th>
                        <th class="text-center column-item col-3">Variant ID</th>
                        <th class="text-center column-item col-3">Product Name</th>
                        <th class="text-center column-item col-2">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (salesModelVariants.Count != 0)
                    {
                        foreach (var item in salesModelVariants)
                        {
                            <tr>
                                <td class="text-center col-1">
                                    <div>
                                        <button type="button" class="btn btn-light btn-variant-edit">
                                            <img src="img/edit.png" alt="add" class="variant-edit-img" @onclick="()=>UpdateSalesVariant(item)" />
                                        </button>
                                        <button type="button" class="btn btn-light btn-variant-delete">
                                            <img src="img/delete.png" alt="add" class="variant-delete-img" @onclick="()=>DeleteVariant(item)" />
                                        </button>
                                    </div>
                                </td>
                                <td class="text-center">@item.ProductId</td>
                                <td class="text-center">@item.VariantId</td>
                                <td class="text-center">@item.ProductName</td>
                                <td class="text-center">
                                    <input type="number" @bind-value="item.Quantity" />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                Not Found!
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    

</EditForm>