@page "/salessummary/{salesId?}";


<EditForm Model="@salesEntity" class="card-header mt-1"
          OnValidSubmit="AddSales">
    <DataAnnotationsValidator />


    <div class="d-flex justify-content-around">
        <div>
            <label class="form-label d-block text-center"><h4>Customer</h4></label>
            <div class="d-flex justify-content-between">
                <InputText @bind-Value="salesEntity.Customer.CustomerId" class="form-control text-center" disabled />
                <InputText @bind-Value="salesEntity.Customer.Name" class="form-control text-center ms-2" disabled />
            </div>
        </div>
        <div class="text-center">
            <label for="voucher" class="form-label"><h4>Voucher</h4></label>
            <InputNumber @bind-Value="salesEntity.VoucherId" id="voucher" class="form-control text-center" disabled />
        </div>
        <div class="text-center">
            <label for="date" class="form-label"><h4>Date</h4></label>
            <DateInput TValue="DateOnly" @bind-Value="salesEntity.Date" id="date" class="form-control text-center" style="width:150px;" disabled />
        </div>
    </div>


    <div class="d-flex justify-content-center mt-5">
        <div class="d-flex col-12">
            <table class="table table-striped table-bordered mt-2">
                <thead>
                    <tr>
                        <th class="text-center column-item col-1">Sl.</th>
                        <th class="text-center column-item col-1">Product ID</th>
                        <th class="text-center column-item col-2">Product Name</th>
                        <th class="text-center column-item col-1">Quantity</th>
                        <th class="text-center column-item col-1">Rate</th>
                        <th class="text-center column-item col-1">Amount</th>
                        <th class="text-center column-item col-1">Discount (%)</th>
                        <th class="text-center column-item col-1">Amount After Discount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (salesSummaryEntityList.Count != 0)
                    {
                        foreach (var item in salesSummaryEntityList)
                        {
                            <tr>
                                <td class="text-center">@item.SerialNumber</td>
                                <td class="text-center">@item.ProductId</td>
                                <td class="text-center">@item.ProductName</td>
                                <td class="text-center">@item.Quantity</td>
                                <td class="text-center">
                                    <input type="number" class="text-center" value="@item.ProductRate" @onchange="(e)=>RateChanged(e,item.ProductEntityId)" />
                                </td>
                                <td class="text-center">
                                    <input type="number" class="text-center" @bind-value="item.Amount" disabled />
                                </td>
                                <td class="text-center">
                                    <input type="number" class="text-center" value="@item.Discount" @onchange="(e)=>DiscountChanged(e,item.ProductEntityId)" />
                                </td>
                                <td class="text-center">
                                    <input type="number" class="text-center" @bind-value="item.AmountAfterDiscount" disabled />
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-center">
                                Not Found!
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="col-12 text-center">
        <InputText @bind-Value="salesEntity.Remarks" id="remarks" class="form-control" placeholder="Remarks/Narration" />
    </div>


    <MudPaper Class="p-1 position-fixed bottom-0 mb-5 d-flex flex-column align-items-center" Style="left:35%!important" Elevation="3">
        <div class="d-flex justify-content-around">
            <div class="d-flex col-3">
                <label for="totalquantity" class="form-label d-flex align-items-end me-2">Total Quantity</label>
                <InputNumber @bind-Value="SalesTotalData.TotalQuantity" id="totalquantity" class="form-control text-center d-flex w-50" disabled />
            </div>
            <div class="text-center d-flex col-3">
                <label for="discount" class="form-label d-flex align-items-end me-2">Discount</label>
                <NumberInput TValue="decimal" Value="SalesTotalData.Discount" id="discount" class="form-control text-center" ValueChanged="(value)=>DiscountForTotalAmountChanged(value)" ValueExpression="()=>SalesTotalData.Discount" />
            </div>
            <div class="text-center d-flex col-3">
                <label for="totalamount" class="form-label d-flex align-items-end me-2">Total Amount</label>
                <InputNumber @bind-Value="SalesTotalData.TotalAmount" id="totalamount" class="form-control text-center w-50" disabled />
            </div>
        </div>

        <div class="text-center d-flex mt-1 justify-content-center">
            <button type="submit" id="button-submit" class="btn btn-success">Save</button>
            <a class="btn btn-warning ms-3" href="sale/@SalesId">Back To Scanning Area</a>
            <a class="btn btn-secondary ms-3" href="/sales">Close</a>
            <button type="button" class="btn btn-danger ms-3" @onclick="DeleteSales">Delete</button>
        </div>
    </MudPaper>

</EditForm>