@page "/suppliers"
@attribute [Authorize]
@using Inventory.Models;

<div class="d-flex justify-content-lg-between mb-3">
    <NavLink href="/supplier" class="btn btn-secondary">Add New Supplier</NavLink>
    <Search SearchItemCallBack="SearchItem"></Search>
</div>

@if (suppliersAfterSearch == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center column-item" @onclick="@(()=>SortItem("SuptomerId"))">Supplier ID</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("Name"))">Name</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("Mobile"))">Mobile</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("Area"))">Area</th>
                <th class="text-center column-item" @onclick="@(()=>SortItem("Amount"))">Amount</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @if (suppliersAfterSearch.Count != 0)
            {
                @foreach (var supplier in suppliersAfterSearch.AsQueryable())
                {
                    <tr>
                        <td class="text-center">@supplier.SupplierId</td>
                        <td class="text-center">@supplier.Name</td>

                        @if (supplier.Mobiles.Count == 0)
                        {
                            <td class="text-center">-</td>
                        }
                        else
                        {
                            <td class="text-center">@supplier.Mobiles.First().Phone</td>
                        }

                        <td class="text-center">@supplier.Area</td>
                        <td class="text-center">@totalAmount[supplier.Id]</td>
                        <td class="text-center"><a class="btn btn-secondary" href="supplier/@supplier.Id">Info</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">
                        Not Found!
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

