

<EditForm Model="@salesOrderVariantModel" class="card-header mt-5"
          OnValidSubmit="async ()=>
                {
                    if(salesOrderVariantModel.Id == Guid.Empty){
                        await AddVariant();
                }
                    else{
                        await EditVariant();
                } }">
    <DataAnnotationsValidator />
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex justify-content-around align-items-center">
            <button type="submit" id="button-submit" class="btn btn-light btn-order-add">
                <img src="img/add.png" alt="add" class="order-add-img" />
            </button>
            <button type="button" id="button-close" class="btn btn-light btn-cancel-add" @onclick="CancelSalesOrderVariant">
                <img src="img/cancel.png" alt="cancel" class="purchase-cancel-img" />
            </button>
        </div>
        <div class="col-1 text-center">
            <label for="serialnumber" class="form-label">Sl.</label>
            <InputNumber @bind-Value="serialnumber" id="serialnumber" class="form-control text-center" />
        </div>
        <div class="d-flex justify-content-between">

            <MudIconButton Color="Color.Secondary" Variant="MudBlazor.Variant.Filled" OnClick="OpenProductDialogAsync"
                           Icon="@Icons.Material.Filled.AdsClick">
            </MudIconButton>
            <MudAutocomplete T="ProductModel" Label="Product"
                             Placeholder="Product"
                             Value="selectedProduct"
                             ValueChanged="OnProductSelected"
                             Clearable="true"
                             ClearIcon="@Icons.Material.Filled.Clear"
                             SearchFunc="SearchProductEntities"
                             ToStringFunc="@(e => e == null ? null : $"{e.Name} ({e.ProductId})")"
                             ResetValueOnEmptyText="true"
                             CoerceText="true" CoerceValue="true" />
            <InputText @bind-Value="salesOrderVariantModel.ProductId" class="form-control text-center" disabled hidden />
            <InputText @bind-Value="salesOrderVariantModel.ProductName" class="form-control text-center" disabled hidden />
        </div>
        <div class="mb-2 col-1 text-center">
            <label for="variantid" class="form-label">Variant ID</label>
            @if (product.Variants.Count != 0)
            {
                <InputSelect @bind-Value="salesOrderVariantModel.VariantEntityId" class="form-control text-center" id="variantid">
                    <option value="" class="text-center">-</option>
                    @if (product.Variants.Count != 0)
                    {
                        @foreach (var item in product.Variants)
                        {
                            if (item.Id == salesOrderVariantModel.VariantEntityId)
                            {
                                <option selected value="@item.Id" class="text-center">@item.VariantId</option>
                            }
                            else
                            {
                                <option value="@item.Id" class="text-center">@item.VariantId</option>
                            }
                        }
                    }
                </InputSelect>
            }
            else
            {
                <input class="form-control text-center" value="@salesOrderVariantModel.VariantEntityId" disabled />
            }
        </div>
        <div class="col-1 text-center">
            <label for="quantity" class="form-label">Quantity</label>
            <NumberInput TValue="int?" Value="salesOrderVariantModel.Quantity" id="quantity" class="form-control text-center" ValueChanged="(value)=>QuantityChanged(value)" ValueExpression="()=>salesOrderVariantModel.Quantity" />
        </div>
        <div class="col-1 text-center">
            <label for="rate" class="form-label">Rate</label>
            <NumberInput TValue="decimal?" Value="salesOrderVariantModel.ProductRate" id="rate" class="form-control text-center" ValueChanged="(value)=>RateChanged(value)" ValueExpression="()=>salesOrderVariantModel.ProductRate" />
        </div>
        <div class="col-1 text-center">
            <label for="amount" class="form-label">Ammount</label>
            <NumberInput @bind-Value="salesOrderVariantModel.Amount" id="amount" class="form-control text-center" disabled />
        </div>
        <div class="col-1 text-center">
            <label for="discount" class="form-label">Discount (%)</label>
            <NumberInput TValue="int?" Value="salesOrderVariantModel.Discount" id="discount" class="form-control text-center" ValueChanged="(value)=>DiscountChanged(value)" ValueExpression="()=>salesOrderVariantModel.Discount" />
        </div>
        <div class="col-1 text-center">
            <label for="amountafterdiscount" class="form-label">Amount</label>
            <InputNumber @bind-Value="salesOrderVariantModel.AmountAfterDiscount" id="amountafterdiscount" class="form-control text-center" disabled />
        </div>
        <div class="col-1 text-center">
            <label for="remarks" class="form-label">Remarks</label>
            <InputText @bind-Value="salesOrderVariantModel.Remarks" id="remarks" class="form-control text-center" />
        </div>
    </div>
    <ValidationSummary />
</EditForm>


<table class="table table-striped table-bordered mt-2">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("SerialNumber"))">Sl.</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("ProductId"))">Product ID</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("ProductName"))">Product Name</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("VariantId"))">Variant ID</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Quantity"))">Quantity</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("ProductRate"))">Rate</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Amount"))">Amount</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Discount"))">Discount (%)</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("AmmountAfterDiscount"))">Amount</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Remarks"))">Remarks</th>
        </tr>
    </thead>
    <tbody>
        @if (salesOrderVariants.Count != 0)
        {
            @foreach (var variant in salesOrderVariants.AsQueryable())
            {
                <tr>
                    <td class="text-center col-1">
                        <div>
                            <button class="btn btn-light btn-variant-edit">
                                <img src="img/edit.png" alt="add" class="variant-edit-img" @onclick="()=>UpdateSalesOrderVariant(variant)" />
                            </button>
                            <button class="btn btn-light btn-variant-delete">
                                <img src="img/delete.png" alt="add" class="variant-delete-img" @onclick="()=>DeleteVariant(variant.Id)" />
                            </button>
                        </div>
                    </td>
                    <td class="text-center">@variant.SerialNumber</td>
                    <td class="text-center">@variant.ProductId</td>
                    <td class="text-center">@variant.ProductName</td>
                    <td class="text-center">@variant.ProductVariantId</td>
                    <td class="text-center">@variant.Quantity</td>
                    <td class="text-center">@variant.ProductRate</td>
                    <td class="text-center">@variant.Amount</td>
                    <td class="text-center">@variant.Discount</td>
                    <td class="text-center">@variant.AmountAfterDiscount</td>
                    <td class="text-center">@variant.Remarks</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="12" class="text-center">
                    Not Found!
                </td>
            </tr>
        }
    </tbody>
</table>