
<h3 class="d-flex justify-content-center mb-2 mt-4">Variants</h3>
<EditForm EditContext="editContext" class="card-header"
          OnSubmit="async ()=>
                {
                    if(variantModel.Id == Guid.Empty){
                        await AddVariant();
                }
                    else{
                        await EditVariant();
                } }">
    <DataAnnotationsValidator />
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex justify-content-around align-items-center col-1">
            <button type="submit" id="button-submit" class="btn btn-light btn-variant-add">
                <img src="img/add.png" alt="add" class="variant-add-img" />
            </button>
            <button type="button" id="button-close" class="btn btn-light btn-cancel-add" @onclick="CancelVariant">
                <img src="img/cancel.png" alt="cancel" class="variant-cancel-img" />
            </button>
        </div>
        <div class="mb-2 col-2">
            <label for="variantid" class="form-label">Variant Id</label>
            <InputText @bind-Value="variantModel.VariantId" id="variantid" class="form-control" />
        </div>
        <div class="mb-2 col-3">
            <label for="name" class="form-label">Variant Name</label>
            <InputText @bind-Value="variantModel.Name" id="name" class="form-control" />
        </div>
        <div class="mb-2 col-3">
            <label for="stock" class="form-label">Stock in Hand</label>
            <InputNumber @bind-Value="variantModel.StockInHand" id="stock" class="form-control" disabled />
        </div>
        <div class="mb-2 col-2">
            <label for="image" class="form-label">Image (jpeg)</label>
            @if (!bclearinputfile)
            {
                <InputFile OnChange="UploadFile" accept=".jpg, jpeg" class="form-control" />
            }
        </div>
    </div>

    <ValidationSummary />
</EditForm>


<table class="table table-striped table-bordered mt-2">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("VariantId"))">Variant ID</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("Name"))">Name</th>
            <th class="text-center column-item" @onclick="@(()=>SortItem("StockInHand"))">Stock In Hand</th>
            <th class="text-center">Image</th>
        </tr>
    </thead>
    <tbody>
        @if (variants.Count != 0)
        {
            @foreach (var variant in variants.AsQueryable())
            {
                <tr>
                    <td class="text-center col-1">
                        <div>
                            <button class="btn btn-light btn-variant-edit">
                                <img src="img/edit.png" alt="add" class="variant-edit-img" @onclick="()=>UpdateVariant(variant)" />
                            </button>
                            <button class="btn btn-light btn-variant-delete">
                                <img src="img/delete.png" alt="add" class="variant-delete-img" @onclick="()=>DeleteVariant(variant.Id)" />
                            </button>
                        </div>
                    </td>
                    <td class="text-center">@variant.VariantId</td>
                    <td class="text-center">@variant.Name</td>
                    <td class="text-center">@stockInHand[variant.Id]</td>
                    <td class="text-center">
                        @if (variant.Image != null)
                        {
                            <ModalWindowShowImage ImageTitle="@variant.Image.ImageTitle" ImageData="@GetImage(@variant.Image)" @ref="modalWindowShowImageRefs[variant.Id]" />

                            <Button Color="ButtonColor.Light" @onclick="()=>OnShowModalClick(variant.Id)">
                                <img src="@GetImage(@variant.Image)" style="height:50px; width:50px;" />
                            </Button>
                            <button type="button" id="button-close" class="btn btn-light btn-cancel-add" @onclick="async ()=> await DeleteFile(variant.Image)">
                                <img src="img/cancel.png" alt="cancel" class="variant-cancel-img" />
                            </button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">
                    Not Found!
                </td>
            </tr>
        }

    </tbody>
</table>

<ModalWindow TitleMessage="@titleMessage" MessageShort="@errorMessageShort" MessageLong="@errorMessageFull" CloseModalWindow="CloseModalWindow" @ref="modalWindowComponenRef" />
