@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudPaper Class="pa-4" Elevation="3">
    <EditForm EditContext="editContext" OnSubmit="async () => await (variantModel.Id == Guid.Empty ? AddVariant() : EditVariant())">
        <DataAnnotationsValidator />
        <MudStack Row="true" Spacing="3">
            <MudTextField Label="Variant ID"
                          @ref="variantInputRef"
                          @bind-Value="variantModel.VariantId"
                          InputType="InputType.Text" />
            <MudTextField Label="Variant Name"
                          @bind-Value="variantModel.Name"
                          InputType="InputType.Text" />
            <MudTextField Label="Stock In Hand"
                          @bind-Value="variantModel.StockInHand"
                          Disabled
                          InputType="InputType.Number" />
            <MudTextField Label="Reorder Level"
                          @bind-Value="variantModel.ReorderLevel"
                          InputType="InputType.Number" />
            <div>
                <label for="image" class="form-label">Image (jpeg)</label>
                @if (!bclearinputfile)
                {
                    <InputFile OnChange="UploadFile" accept=".jpg, .jpeg" class="form-control" />
                }
            </div>
            <MudStack Spacing="3">
                <MudIconButton Color="Color.Primary" Icon="@Icons.Material.Filled.Add" ButtonType="MudBlazor.ButtonType.Submit" />
                <MudIconButton OnClick="CancelVariant" Icon="@Icons.Material.Filled.Cancel" />
            </MudStack>
        </MudStack>
        <ValidationSummary />
    </EditForm>
</MudPaper>
<MudTable Items="variants" Dense="true" Bordered="true" Striped="true" Class="mt-2">
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VariantModel, object>(x => x.VariantId)">
                Variant ID
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VariantModel, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VariantModel, object>(x => x.StockInHand)">
                Stock In Hand
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VariantModel, object>(x => x.ReorderLevel)">
                Reorder Level
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<VariantModel, object>(x => x.Image)">
                Image
            </MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>
            <MudIconButton Variant="MudBlazor.Variant.Filled" OnClick="() => UpdateVariant(context)" Icon="@Icons.Material.Filled.Edit">
            </MudIconButton>
            <MudIconButton Variant="MudBlazor.Variant.Filled" OnClick="() => DeleteVariant(context.Id)" Icon="@Icons.Material.Filled.Delete">
            </MudIconButton>
        </MudTd>
        <MudTd>@context.VariantId</MudTd>
        <MudTd>@context.Name</MudTd>
        <MudTd>@stockInHand[context.Id]</MudTd>
        <MudTd>@context.ReorderLevel</MudTd>
        <MudTd>
            @if (context.Image != null)
            {
                <MudImage Src="@GetImage(context.Image)"
                          Width="80"
                          Height="80"
                          Alt="Swedish Farm House"
                          @onclick="() => OpenImagePopup(context.Image)"
                          Elevation="25"
                          Class="rounded-lg ma-4" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete"
                               OnClick="async () => await DeleteFile(context.Image)"
                               Variant="MudBlazor.Variant.Filled">
                </MudIconButton>
            }
        </MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudTd Class="text-center">Not Found!</MudTd>
    </NoRecordsContent>
</MudTable>